@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1 Georgian Dr<br />
    Barrie, ON L4M 3X9<br />
    <abbr title="Phone">P:</abbr>
    249.877.1338
</address>

<address>
    <strong>Support:</strong> <a href="mailto:200412952@student.georgianc.on.ca">200412952@student.georgianc.on.ca</a><br />
</address>
